<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificates</title>
    <link rel="stylesheet" href="/output.css"  type="text/css"  />
 
</head>
<body>
    
    <div class="grid grid-cols-2">
 <% console.log("Hello EJS") %>
 <% console.log(certificates[7]["name"]) %>
 
        <div>
            <% for( let i = 0; i < certificates.length; i+=2 ) { %>

            <% if (certificates[i]["type"]=="pdf") { %>
            <div class="certificate" ><iframe src="<%='data:application/pdf;base64,'+certificates[i]['link']%>"  ></iframe><p><%=certificates[i]["name"]%></p></div> 

            <% } else if  (certificates[i]["type"]=="png") { %>
             
                <div class="certificate" ><img  src="<%='data:image/png;base64,'+certificates[i]['link']%>" /><p><%=certificates[i]["name"]%></p></div>

                <% } else { %>
                    
                    <div class="certificate" ><img  src="<%='data:image/jpeg;base64,'+certificates[i]['link']%>" /><p><%=certificates[i]["name"]%></p></div>
                    
                    
                    <% } %>
                    <% } %>

        </div>
        <div>
            <% for( let i = 1; i < certificates.length; i+=2 ) { %>

            <% if (certificates[i]["type"]=="pdf") { %>
            <div class="certificate" ><iframe src="<%='data:application/pdf;base64,'+certificates[i]['link']%>"  ></iframe><p><%=certificates[i]["name"]%></p></div> 

            <% } else if  (certificates[i]["type"]=="png") { %>
             
                <div class="certificate" ><img  src="<%='data:image/png;base64,'+certificates[i]['link']%>" /><p><%=certificates[i]["name"]%></p></div>

                <% } else { %>
                    
                    <div class="certificate" ><img  src="<%='data:image/jpeg;base64,'+certificates[i]['link']%>" /><p><%=certificates[i]["name"]%></p></div>
                    
                    
                    <% } %>
                    <% } %>

        </div>
        
   
    
      </div>
</body>
</html>

 