<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sathvik Malgikar's projects</title>
  <link rel="stylesheet" href="/output.css" type="text/css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
  <script type="text/javascript" src="/jquery-3.6.3.js"></script>
  <script defer type="text/javascript" src="/projects.js"></script>
</head>

<body class="bgimgfix">
  <div class="button left-32 m-2 p-6">
    <p class="text-3xl">
      <a class="" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 inline-block">
          <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 010 1.06l-6.22 6.22H21a.75.75 0 010 1.5H4.81l6.22 6.22a.75.75 0 11-1.06 1.06l-7.5-7.5a.75.75 0 010-1.06l7.5-7.5a.75.75 0 011.06 0z" clip-rule="evenodd" />
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 inline-block">
          <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
          <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
        </svg>
      </a>
    </p>
  </div>
  <div class="rounded bg-[#ddddddcd] w-4/5 text-center m-auto p-4 overflow-hidden">
    <h2 class="text-3xl font-concertOne">Dashboard</h2>
    <h2 class="text-xl font-semibold text-start">
      Frameworks/techonologies used:
    </h2>
    <div class="bg-white" >

      <div class="marquee">
        <img class="circleavatar-trans" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png" />
        <img class="circleavatar-trans" src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Pytest_logo.svg" />
        <img class="circleavatar-trans" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Unity_2021.svg" />
        <img class="circleavatar-trans" src="https://picperf.io/https://laravelnews.s3.amazonaws.com/images/tailwindcss-1633184775.jpg" />
        <img class="circleavatar-trans" src="https://cdn-images-1.medium.com/max/1200/1*5-aoK8IBmXve5whBQM90GA.png" />
        <img class="circleavatar-trans" src="https://www.snaplogic.com/wp-content/uploads/2016/05/kafka-logo-600x390.jpg" />
        <img class="circleavatar-trans" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDKqT4_RUvgKCK-duCygZRePCGjnCUDpjq_Ycz2lc-ZFPR5IacYreO-RQ9m5nM4mM7R8o&usqp=CAU" />
        <img class="circleavatar-trans" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Apache_Spark_logo.svg/375px-Apache_Spark_logo.svg.png" />
        <img class="circleavatar-trans" src="https://1.bp.blogspot.com/-YIfQT6q8ZM4/Vzyq5z1B8HI/AAAAAAAAAAc/UmWSSMLKtKgtH7CACElUp12zXkrPK5UoACLcB/s1600/image00.png" />
        <img class="circleavatar-trans" src="https://bunnyacademy.b-cdn.net/what-is-docker.png" />
        <img class="circleavatar-trans" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/180px-Node.js_logo.svg.png" />
      </div>
    </div>
    <hr />
    <h2 class="text-xl font-semibold text-start">Languages known:</h2>
    <div>
      <ul class="grid grid-cols-2">
        <li class="text-xl font-extralight">C++</li>
        <li class="text-xl font-extralight">Python</li>
        <li class="text-xl font-extralight">Java</li>
        <li class="text-xl font-extralight">Javascript</li>
        <li class="text-xl font-extralight">C</li>
        <li class="text-xl font-extralight">HTML/CSS</li>
      </ul>
      <br />
    </div>
    <hr />
    <h2 class="text-xl font-semibold text-start">
      No of projects across domains:
    </h2>
    <div>
      <ul class="grid grid-cols-2">
        <li>
          <p class="text-xl">Web development :</p>
          <p class="text-xl">12</p>
        </li>
        <li>
          <p class="text-xl">Cloud computing :</p>
          <p class="text-xl">3</p>
        </li>
        <li>
          <p class="text-xl">App development :</p>
          <p class="text-xl">6</p>
        </li>
        <li>
          <p class="text-xl">Test automation/ QA :</p>
          <p class="text-xl">2</p>
        </li>
        <li>
          <p class="text-xl">DevOps :</p>
          <p class="text-xl">3</p>
        </li>
      </ul>
      <br />
    </div>
  </div>

  <div class="rounded bg-[#ddddddcd] text-center m-6 p-4">
    <h5 class="text-2xl font-bold">My projects:</h5>
    <br />
    <div class="flex flex-col justify-evenly">
      <%  for(var i=0;i<projobjs.length;i++) {   %>

      <div class="flex flex-col justify-center items-center">
        <p class="text-xl font-semibold">
          <%=  projobjs[i]["category"]  %>
        </p>
        <div class="carousel">
          <div data-index="<%=i%>" class="carousel-inner" id="carousel-inner">
            <% for(var j=0;j<projobjs[i]["objs"].length;j++ )  {  %>
            <div data-index="<%=i%>" class="bg-foreground border-black border  inline-block p-2 rounded-md carousel-item">


              <div class="flex ">

                <div >

                  <p class="text-lg font-semibold"> <%=   projobjs[i]["objs"][j]["name"]  %> </p>
                  <% if (projobjs[i]["objs"][j]["vertical"]) { %>

                  <img class="projectCover-vertical m-3 my-5" src="<%=  projobjs[i]["objs"][j]["cover"]  %>">

                  <% } else { %>


                  <img class="projectCover m-3 my-5" src="<%=  projobjs[i]["objs"][j]["cover"]  %>">
                  <% } %>

                </div>
                <div >

                  <p> <%=   projobjs[i]["objs"][j]["desc"]  %> </p>
                  <a class="text-lg text-blue-500 underline" href="<%=  projobjs[i]["objs"][j]["repo"]  %>"><%=  projobjs[i]["objs"][j]["repo"]  %></a>
                 <br>
                  <p class="text-xl" > Hosted at: </p>
                  <a class="text-lg text-blue-500 underline" href="<%=  projobjs[i]["objs"][j]["weblink"]  %>"><%=  projobjs[i]["objs"][j]["weblink"]  %></a>
                </div>

              </div>


            </div>


            <% } %>


          </div>
        </div>
        <div class="bg-green-200 border border-black h-10 rounded-md w-2/3 m-2">

          <div class="flex justify-between px-4">
            <button class="m-1 self-center" onclick="prevSlide('<%=i%>')"> <img class="inline mx-2" src="https://cdn-icons-png.flaticon.com/512/3114/3114883.png" width="26px" ></img>Previous |</button>
            <button class="m-1 self-center" onclick="nextSlide('<%=i%>')">| Next<img class="inline mx-2" src="https://static-00.iconduck.com/assets.00/arrow-forward-icon-512x344-k2kttbs4.png" width="26px" ></img></button>
          </div>
        </div>

      </div>
      <%  } %>
      <!-- <h3>Rgubeig</h3> -->
    </div>
  </div>
</body>

</html>